.box{
position: relative;
border-radius: 15px;
width: 100%;
min-width: 200px;
min-height:320px;
margin-bottom: 20px;
}

.grey{
  background-color: #E7E7E7;
}

.orange{
background-image: linear-gradient(2deg, #FFE1B0 0%, #FFF4D2 100%);
border-radius: 15px;
}


.circle-left{
position: absolute;
background-color: #fff;
border-radius: 100px;
width: 15px;
height: 15px;
z-index: 100;
top:15%;
left: 2%;
}

.circle-right{
position: absolute;
background-color: #fff;
border-radius: 100px;
width: 15px;
height: 15px;
z-index: 100;
top:15%;
right: 2%;
}