.navbar-default{
	background-color: #ffffff !important;
}

.dropdown-menu{
background-color: #00B7CB !important;
min-width: 80px !important;
padding: 0 !important;
}

.dropdown-menu>li>a {
    padding-top: 20px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-bottom: 20px !important;
}

.dropdown-menu>li>a:hover {
    background-color: #286090 !important;
}