@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
/*  overflow-x: hidden;*/
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}


h1{
font-size: 2.6em;
    color: #4A4A4A;
    line-height: 50px;
    font-weight: 400;
    margin-top: 20%;
    padding: 0 40px 0 40px;
}



h2{
	font-size: 2.3em;
    color: #9898AF;
    line-height: 40px;
    font-weight: 300;
}

h3{
  /* “Direct to Locpin”: */
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.4px;
padding:10px;
}


@media screen and (max-width: 998px) {    
h1{
font-size: 1.8em;
color: #4A4A4A;
letter-spacing: -0.23px;
line-height: 40px;
font-weight: 300;
margin-top:10%;
padding:0 40px 0 40px; 
}
}


a {
  text-decoration: none;
  padding: .5rem;
  transition: .6s background; 
}


a:hover{
    color:#4A4A4A;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 100%;
  max-height: 500px;
  top: 20%;
  margin-top: -100px;
  background: #FFF;
  z-index: 2000;
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff !important;
    border-color: #fff !important;
}