<footer>
	<div class="row">
		<!-- [footer box] -->
		<div class="col-sm-1 hidden-xs"></div>
		<div class="col-xs-12 col-sm-3 contact-info">
			<span class="title">KONSILEO</span>
			<span>@: <a href="mailto:enquiries@konsileo.com">enquiries@konsileo.com</a></span>
			<span>p: <a href="tel:+442071835562">+44 (0)20 7183 5562</a></span>
			<span>a: 1 Frederick's Place</span>
			<span>London EC2R 8AE</span>
		</div>
		<!-- [/footer box] -->
		<!-- [footer box] -->
		<div class="col-xs-12 col-sm-1">
			<nav>
				<ul>
					<li><a href="#">Company</a></li>
					<li><a href="/">Home</a></li>
					<li><a href="/aboutus/">About Us</a></li>
					
				</ul>
			</nav>
		</div>
		<div class="col-sm-1 hidden-xs"></div>
		<!-- [/footer box] -->
		<!-- [footer box] -->
		<div class="col-xs-12 col-sm-1">
			<nav>
				<ul>
					<li><a href="#">Others</a></li>
					<li><a href="/press/">Press</a></li>
					
				</ul>
			</nav>
		</div>
		<div class="col-sm-1 hidden-xs"></div>
		<!-- [/footer box] -->
		<!-- [footer box] -->
		<div class="col-xs-12 col-sm-3">
			Newsletter<br>Subscribe to our newsletter for all our news and updates.
<form action="/press/SaveEmail?Length=4" class="subscription-form" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#EmailForm" id="EmailForm" method="post" novalidate="novalidate"><input data-val="true" data-val-regex="E-mail is not valid" data-val-regex-pattern="^[a-zA-Z0-9_\.-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,6}$" data-val-required="Field can't be empty" id="email_address" name="email_address" placeholder="Enter E-mail" type="text" value="">

<input type="submit" value=" ">&nbsp; <span class="field-validation-valid" data-valmsg-for="email_address" data-valmsg-replace="true"></span>
<div class="clear"></div></form>		</div>
		<div class="col-sm-1 hidden-xs"></div>
		<!-- [/footer box] -->
	</div>

	<div class="row row__copyright">
		<div class="col-sm-1 hidden-xs"></div>
		<!-- [social] -->
		<div class="footer__social col-xs-12 col-sm-2 col-sm-push-8">
			<a href="http://www.twitter.com/konsileo" target="_blank" class="icon icon__twitter"></a>
			<a href="http://www.facebook.com/konsileo" target="_blank" class="icon icon__facebook"></a>
			<a href="http://www.linkedin.com/company/konsileo" target="_blank" class="icon icon__linkedin"></a>
		</div>
		<!-- [/social] -->

		<!-- [copyright] -->
		<div class="footer__copyright col-xs-12 col-sm-8 col-sm-pull-2">
			Konsileo Ltd. is a company registered in England and Wales with company number 9569872. © Konsileo Ltd 2016
		</div>
		<div class="col-sm-1 hidden-xs"></div>
		<!-- [/copyright] -->
	</div>

	<script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-68541764-1', 'auto');
		ga('send', 'pageview');
	</script>
</footer>