@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  width: 100%;
  height: 100%;
  font-family:'Montserrat', sans-serif;
  color:white;
}
a:visited {
  text-decoration: none;
}

section {
  height: 85%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

section.main, .editor {
  height: 100%;
}
section.privacy, .team {
  height: inherit;
}
section.signup {
  height: 85%;
  background-color: #33FFCC;
}
section.blog {
  height: 100%;
  background-color: #33FFCC;
}


#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
  background-color:white;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: white !important;
}

.borderLeft {
 border-bottom: solid #fff;
 padding-bottom: 5px;
 border-bottom-width: 1px;
 bottom:30%;
}

.borderLeftTeam {
 border-bottom: solid #33CCCC;
 padding-bottom: 5px;
 border-bottom-width: 2px;
 bottom:30%;

}

                /*backgrounds*/
.main {
  background: #33cccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #33cccc 0%, #31adc4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #33cccc 0%,#31adc4 100%);
  background: linear-gradient(to bottom,  #33cccc 0%,#31adc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33cccc', endColorstr='#31adc4',GradientType=0 ); /* IE6-9 */

}

section.editor {
  background-color: #ff99ff;
}

.main-center {
  text-align: center;
  position: relative;
  top:70px;
  text-transform: uppercase;
  line-height: 150%;
/*  max-width: 50%;*/
}
.main-right {
  position: relative;
  top:200px;
  text-transform: lowercase;
}
h1#first-tag {
  opacity: 0.7;
}


.section {
/*  text-align: center;*/
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.fa-social {
  color: white;
  background-color: #258293;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 10px 5px;
  text-align: center;

}
.fa-social:hover {
  background: white;
  color: #258293;
  text-decoration: none;
}
.name-fa {
  display: inline-block;
}
.team-fa{
  color:white;
  background-color:#31adc4;
  height: 35px;
  width: 35px;
   line-height: 35px;
  }

.team-fa:hover {
  background: transparent;
  color:#31adc4;
  
}
.doc-privacy {
  position: relative;
  margin-top:100px;
  color:black;
}
.social-media-footer {
  text-align: center;
}
.typed, .typed-cursor {
  font-size: 3em;
  line-height: 3em;
}
#email-addy-lg {
    margin-top: 20px;
    font-family:'Montserrat', sans-serif;
}

#email-addy-md {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family:'Montserrat', sans-serif;
}
#email-addy-sm {
    margin-top: 20px;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 60px;
    font-size: 15px;
}

#register-name {
  margin-bottom: 5px;
  height: 50px;
  max-width: 20em;
  color:white;
  border-style: none;
  border-radius:20px;
  color:black;
  display: inline-block;
}
.form-group {
  border-style:none;
  text-align: center;
}

.jumbotron {
  height: 100%;
  background-size: 200px;
  text-align: justify;
  margin-top: 60px;
  height: 400px; 

  */
  
/*  background-attachment: fixed;*/
}
.member {
  height: 256px;
  border:solid;
  margin-bottom: 20px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  border: transparent;
  border-radius: 20px;
  text-align: center;

}
.team-img {
  background-image: url("../images/joe1.jpg");
  height:70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-size{
  max-width: 100px;
}

.team-name {
color: #555;
text-align: center;
  font-family: 'aleo-bold';
font-size: 24px;
}

.team-descrip {
  font-family: 'Montserrat', sans-serif;
  color: #777;
      position: relative;
    /* text-align: left; */
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 14px;
}

.quote {
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: 14px;
  color: #777;
  font-style: italic;
}




/*#arindra:hover {
  background-image: url("../images/arindra2.png");
}*/


.team-position {
  text-align: center;
  font-size:16px;
  margin-bottom: 10px;
  color: #777;
}
#register-section {
  position: relative;
  top: 200px;
}
.email-sub {
  position: relative;
  display: inline-block;
}
button.register-now {
          background: transparent;
          padding: 10px 50px;
          border-radius: 5px;
          border: 1px solid #ffffff;
          display: inline-block;

}
/*
button.register-now:hover {
  color:black;
}*/
.input-area {
  width: 81%;
  height: 47px;
  border-radius: 20px;
  border: white;
  color:black;
  text-align: center;
}
.blog-input-area {
  margin-left: -8%;
  width: 120%;
  height: 47px;
  border-radius: 20px;
  border: white;
  color:black;
  text-align: center;
}
.but-sub-main {
  margin-top: 10px;
}
#blog-section {
  margin-top:50px;
}
#blog-blog-post {
  height: 300px;
}
form#register-form-lg {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
form#register-form-md {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
form#register-form-sm {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.line{height: 450px; width: 0px; position: relative; border-left: 2px solid #fff; margin-top: 195px; margin-left: 102px;}
.line_up{height:250px; width:0px; position:relative; border-left:2px solid #fff;margin-top:-80px;margin-left:100px;}
.line_down{height:440px; width:0px; position:relative; border-left:2px solid #fff;margin-top:20px;margin-left:100px;}
.line_up_a{height:250px; width:0px; border-left:2px solid #fff;margin-top:-85px;margin-left:100px;}

.why-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: #ffffff;
  margin-top: 25%;
}

.why-title-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  color: #ffffff;
  margin-top: 8%;
}


.why-main {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 20px;
    padding-top: 25px;
}


.did-you-know {
  font-family: 'Montserrat', sans-serif;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
  position: relative;
  margin-top: 7%;
  padding: 12px 12px 12px 12px ;
}


.did-you-know-title {
  font-size: 24px;
  font-family: "Montserrat";
  position:relative;
  text-align: center;

}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size:8px;
  color: rgba(255,255,255,0.3);
}

.did-you-know-main {
  font-size: 16px;
/*  font-family: "Helvetica Neue", Helvetica, sans-serif;*/
font-family: 'Montserrat', sans-serif;

/*

font-family: 'Signika', sans-serif;





 /* font-weight: 400;*/
  position:relative;
  text-align: center;
}


img.why-image {
  width: 100%;
  height: 100%;

/*  margin-top: 200px;*/
}




#illus1 {
  width: 65%;
  margin-bottom: 50px;
}
#illus2 {
  margin-top: 100px;
  width: 100%;
}

#illus3 {
  margin-top: 50px;
  width: 100%;
}
#illus4 {
  margin-top: 60px;
  width: 100%;
}
#illus5 {
  margin-top: 120px;
  width: 110%;
}
section.why h1 {
  font-size: 38px;
}
section.why p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 24px;
}
#why-section-3 {
  font-size: 20px;
}


.company-info{
  font-family: 'Montserrat', sans-serif;
  color: #777;
  font-size: 10px;
}


footer.why-foot {
  margin-top: 20px;
  opacity: 0.8;
  font-family:'Montserrat', sans-serif; 

}
footer.why-foot div.text-muted {
  font-size: 9px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 300;
}
footer#blog-foot {
  margin: 0;
  padding: 0;
}
footer#blog-foot p.text-muted {
  margin-bottom: 20px;
  margin-top:0;
  padding: 0;
  font-size: 14px;
  font-family:'Montserrat', sans-serif;
}
footer#blog-foot a {
  line-height: 2;
}
form.editor-form {
  position: relative;
  top:100px;
}
#navigationbar a:hover { 
    background-color: #fff;
    color:#33cccc;
    border-radius: 3px;
    border-color: #fff;
    margin-left: 5px;
    -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#navigationbarextras a:hover {
 color: white; 
 margin-left: 5px;
 border-bottom: solid #fff;
 padding-bottom: 5px;
 border-bottom-width: 3px;
 bottom:30%;
}



.why-para-lg{
  position: relative;
  margin-top: 100px;
}

.why-para-sm{
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.why-title-sm{
  font-size: 15px;
  font-weight: 300;
  padding-top: 30px;
}

.why-subtitle-sm{
  font-size: 12px;
  font-weight: 100;
}

.why-main-sm{
  padding-top: 20px;
  font-size: 14px;
  text-align: left;
  font-weight: 300;
}

.did-you-know-sm{
margin-left: 20px;
margin-right: 20px;
  border-style: none;
  border-radius: 10px;
  border-spacing: 40px;
  shape-margin: 30px;
  background-color: rgba(255,255,255,0.3);
  padding:5px 5px 10px 5px ;
}

.did-you-know-title-sm{
  font-size: 12px;
}

.did-you-know-main-sm{
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100px;
}
  
img.why-image-sm {
 width:30%;
 margin-left: 35%;
 margin-bottom: 15px;
 margin-top: 15px;
}

/*md*/

.why-para-md{
  position: relative;
  margin-top: 100px;
}

.why-title-md{
  font-size: 24px;
  font-family: 'aleo-bold';
  font-weight: 200px;
}

.why-subtitle-md{
  font-size: 18px;
  font-family: 'aleo-medium';
  font-weight: 100px;
}

.why-main-md{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 40px;
}

.did-you-know-md{
  text-align: center;
  border-style: none;
  border-radius: 10px;
  border-spacing: 40px;
  shape-margin: 30px;
  background-color: rgba(255,255,255,0.3);
}

.did-you-know-title-md{
  font-size: 13px;
}

.did-you-know-main-md{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100px;
}

img.why-image-md {
 width:40%;
 margin-left: 15%;
 margin-bottom: 20px;
 margin-top: 20px;
}



/*md ends*/

/*
.subscribe-btn {
  background: white;
  color: black;
  text-decoration: none;
}
*/


@media (max-width: 990px) {
  .why-para-lg{
    display:none;
  }

  a#sign-up-nav-why {
border-radius: 3px;
padding-right: 15px;padding-left: 15px;
}

}

@media (max-width: 800px){
  .why-para-md{
    display:none;
  }
}

@media (min-width: 990px){
  .why-para-md{
    display:none;
  }
}


@media (min-width: 800px) {
  .why-para-sm {
    display: none;
  }
}


@media (min-width: 700px){
 #index-main-sm{
        display: none;
  }
    #jobbio_sm{
        display: none;
  }
}


@media (max-width: 700px) {
  #index-main-art {
    display: none;
  }
  #index-main-lg{
        display: none;
  }
  #index-main-artwork-md{
        display: none;
  }

   #index-main-md{
        display: none;
  }
}


@media (max-width: 770px){

}



@media (min-width: 1200px){
   #index-main-artwork-md{
        display: none;
  }

 
   #index-main-md{
        display: none;
  }


}


@media (max-width: 1200px){
   #index-main-art {
    display: none;
  }
  #index-main-lg{
        display: none;
  }

  a#sign-up-nav {
  border: none;
  padding-left: 15px;
  }

/*.navbar .nav > li > a.li-team{
  padding-right:15px;
  padding-left:15px;
}*/
  .typed, .typed-cursor {
    font-size: 2em;
    line-height: 2em;
}


}

/*
.subscribe-btn{ 
 color: #258293 !important;
 background-color:#fff  !important; 
 border: 0px solid ;
 border-radius: 5px;
 }

.subscribe-btn:hover { 
 color:#fff !important;
 background-color:#258293  !important; 
 border: 0px solid ;
 border-radius: 5px;
 
}
*/

/*
.subscribe-btn-joinnow{
 font-family:'Montserrat', sans-serif;
 font-weight:200px;
 background-color:#fff;
 color:#258293 ;
 font-weight: 100px;
 text-decoration: none;
 font-size: 20px;
 border:none;
 padding: 15px 30px 15px 30px;
 border-radius: 5px;
 margin-top: 30px;
}


.subscribe-btn-joinnow:hover{

color:#fff !important;
 background-color:#258293  !important; 
 font-weight: 100px;
 text-decoration: none;
 font-size: 20px;
 border:0px solid;
 padding: 15px 30px 15px 30px;
 border-radius: 5px;

}*/

.signup-description{
 font-family:'aleo-light';
 font-weight:100px;
 font-size: 26px;
 text-align: center;
}


.signup-description-subtitle{
 font-family:'Montserrat', sans-serif;
 font-weight:100px;
 font-size: 16px;
 text-align: center;
 margin-top: 40px;
}

.input-group{
  padding:10px, 10px, 10px, 10px;
}



.laststep{
 font-family:'aleo-medium';
 font-weight:100px;
 font-size: 45px;
 text-align: center;
}

.provider-button {
        
    /* position: relative; */
    display: table;
    border-collapse: separate;
        margin-top: 10px;
        color : white;
         font-family: 'Montserrat', sans-serif;
         border:1px solid white;
         padding: 10px;
         line-height: 32px;
         border-radius: 5px;
         width: 150px;
         height: 60px;
    }

.provider-button:hover{
        
  border:1px solid white;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
  }

  .check{
        
   background-color: #258293;
   border:none;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
  }

.provider-button:active, .check:active{
  
   /* position: relative; */
         display: table;
         border-collapse: separate;
         margin-top: 30px;
         color : white;
         font-family: 'Montserrat', sans-serif;
         padding: 10px;
         border-radius: 5px;
         width: 150px;
         height: 50px;
         border:1px solid #258293;
         background-color:#258293;
}

.check:hover{
        margin-top: 10px;
        color : white;
         border:1px solid white;
         padding: 10px;
         line-height: 32px;
         border-radius: 5px;
         width: 150px;
         height: 60px;
}


.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.radio-btn {   
         color : white;
         font-family: 'Montserrat', sans-serif;
         border:1px solid #fff;
         font-size:12px;

    }


#radioBtn .notActive{
    color: #fff;
    background-color: transparent;
    border:1px solid #fff;
    font-size:12px;

   
}

#radioBtn .active{
   color: #fff;
   background-color:#258293;
   border:1px solid #fff;
   font-size:12px;
}


.questions-finalpage {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    position: relative;
    font-size: 14px;
    font-stretch: 20px;
    letter-spacing: 0.05em;
    margin-top:20px;
    text-align:left;
  }


.ex-bar-nav {
    list-style: none;
    padding: 0;
}


.ex-bar-item {
    position: relative;
    display: inline-block;
    height: 45px;
    margin-right: 15px;
}

.why-mobile-drop{
  color:#fff;
  font-size: 12px;
}

.team-mobile-drop{
  font-size: 12px;
}

.why-para-lg-img-1{float:right; margin-top:88%;margin-right:20%;}
.why-para-lg-img-2{float: right;position: absolute;right: 26%;margin-top:-18%;}
.why-para-lg-img-3{float: right;position: absolute;right: 26%;margin-top: -16%;
    }
.why-para-lg-img-4{float:right; margin-top:10%;margin-right:25%;z-index: 100;}
.why-para-lg-img-5{float:right; margin-top:-8%;margin-right:22%;}

@media (max-width: 1024px){
.why-para-lg-img-1{float:right; margin-top:96%;margin-right:-2%;}
.why-para-lg-img-2{float:right; margin-top:-38%;margin-right:-2%;}
.why-para-lg-img-3{float:right; margin-top:-38%;margin-right:0%;}
.why-para-lg-img-4{float:right; margin-top:-12%;margin-right:6%;}
.why-para-lg-img-5{float:right; margin-top:-38%;margin-right:-2%;}


}


