@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
/*  overflow-x: hidden;*/
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}


h1{
font-size: 2.6em;
    color: #4A4A4A;
    line-height: 50px;
    font-weight: 400;
    margin-top: 20%;
    padding: 0 40px 0 40px;
}



h2{
	font-size: 2.3em;
    color: #9898AF;
    line-height: 40px;
    font-weight: 300;
}

h3{
  /* “Direct to Locpin”: */
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0.4px;
padding:10px;
}


@media screen and (max-width: 998px) {    
h1{
font-size: 1.8em;
color: #4A4A4A;
letter-spacing: -0.23px;
line-height: 40px;
font-weight: 300;
margin-top:10%;
padding:0 40px 0 40px; 
}
}


a {
  text-decoration: none;
  padding: .5rem;
  transition: .6s background; 
}


a:hover{
    color:#4A4A4A;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 100%;
  max-height: 500px;
  top: 20%;
  margin-top: -100px;
  background: #FFF;
  z-index: 2000;
}

#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}



.popup3 {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 100%;
  max-height: 200px;
  top: 20%;
  margin-top: -100px;
  background: #FFF;
  z-index: 2000;
}


#popup3:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup3:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}


.popup4 {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 100%;
  max-height: 200px;
  top: 20%;
  margin-top: -100px;
  background: #FFF;
  z-index: 2000;
}


#popup4:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup4:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.popup5 {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 100%;
  max-height: 300px;
  top: 20%;
  margin-top: -100px;
  background: #FFF;
  z-index: 2000;
}


#popup5:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup5:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff !important;
    border-color: #fff !important;
}

/* Tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 100 !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
 
/* Slider*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*.col-md-3{
    height: 100px;
    background-color:rgb(230,230,230);
    text-align:center;
}*/


/*Settings*/
    .details li {
      list-style: none;
    }
    li {
        margin-bottom:10px;
        
    }


.edit-details {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.edit-pencil {
  position: absolute;
   right: 0;
    top: 0;
  display: none;
}

.edit-details:hover .edit-pencil {
  display: block;
}
